<h2>Product Groups</h2>

<h6>
View Mentions by Amazon Product Groups
</h6>

<% @product_groups.each do |product_group| %>
  <div>
    <%= render "product_group", product_group: product_group %>
  </div>
<% end %>
