<h1>
  <%= @product_group.name %>
</h1>
</br>
<% @mentions.each do |mention| %>
  <%= render 'mentions/full_mention', mention: mention %>
  </br>
<% end %>
<%= will_paginate @mentions, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
