<div class="row">
  <div class="col-md-2">
    <% if !product.image_url.nil?  %>
      <%= image_tag product.image_url, class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "http://placehold.it/114x170", class: "img-thumbnail" %>
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <h4>
        <%= link_to product.title, product_path(product) %>
      </h4>
    </div>
    <div class="row">
      <%= pluralize(product.mentions.count, 'total mention') %>
    </div>
  </div>
</div>
</br>
