
<div class="row">
  <div class="col-md-12">
    <h3>
      <%= link_to @product.title, @product.url %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <% if !@product.image_url.nil?  %>
      <%= image_tag @product.image_url, class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "http://placehold.it/114x170", class: "img-thumbnail" %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h4>
      Mentions
    </h4>
    <% @product.mentions.each do |mention| %>
      <%= render "mentions/mention", mention: mention %>
    <% end %>
  </div>
</div>
