<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'SubReddits', subsites_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Product Groups', product_groups_path, class: 'nav-link' %></li>
